<ion-header>

  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text">
      <div>
        SkeletonAPP
      </div>
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment value="pizza" (ionChange)="segmentChanged($event)">
      
      <ion-segment-button value="mis-datos">
        <ion-icon name="home"></ion-icon>
        <ion-label>Mis datos</ion-label>
      </ion-segment-button>
      
      <ion-segment-button value="experiencia-laboral">
        <ion-icon name="briefcase-outline"></ion-icon>
        <ion-label>Experiencia laboral</ion-label>
      </ion-segment-button>

      <ion-segment-button value="certificaciones">
        <ion-icon name="school-outline"></ion-icon>
        <ion-label>Certificaciones</ion-label>
      </ion-segment-button>
    
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">
      App desarrollada por Cristián Gómez Vega
    </ion-title>
  </ion-toolbar>
</ion-footer>